version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8080"
    volumes:
      - .:/home/fast
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: always

volumes:
  db_data: